.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 10px 30px;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.typebutton-1 {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 1px solid #000;
	border-radius: 10px;
	overflow: hidden;
	color: #fff;
}

.typebutton-1 span {
	position: relative;
	mix-blend-mode: difference;
}

.typebutton-1::before {
	content: '';
	background: #003566;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.typebutton-1:hover::before {
	transform: translate3d(0,-100%,0);
}

/*--------------------------------------------- button-2 */


.typebutton-2 {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 1px solid #000;
	border-radius: 10px;
	overflow: hidden;
	color: #fff;
}

.typebutton-2 span {
	position: relative;
	mix-blend-mode: difference;
}

.typebutton-2::before {
	content: '';
	background: #003566;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.typebutton-2:hover::before {
	transform: translate3d(0,100%,0);
}

/*--------------------------------------------- button-3 */

.typebutton-3 {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 1px solid #000;
	border-radius: 50%;
	overflow: hidden;
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
	color: #fff;
    padding: 0;
}

.typebutton-3 span {
	position: relative;
	mix-blend-mode: difference;
}

.typebutton-3::before {
	content: '';
	background: #003566;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.typebutton-3:hover::before {
	transform: translate3d(100%,0,0);
}

/*--------------------------------------------- button-4 */

.typebutton-4 {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 1px solid #000;
	border-radius: 50%;
	overflow: hidden;
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
	color: #fff;
    padding: 0;
}

.typebutton-4 span {
	position: relative;
	mix-blend-mode: difference;
}

.typebutton-4::before {
	content: '';
	background: #003566;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.typebutton-4:hover::before {
	transform: translate3d(-100%,0,0);
}